[p1meter]
serialport =            # serialport on RPi, usually something like: ttyUSB0
databasename =          # Name as used in de influxDB for p1meter data

[weer]
weerlive_api_key =      # API key for weerlive.nl
weerlive_locatie =      # Location for weerlive.nl
weerhuisje_locatie_1 =  # Location for weerhuisje.nl for rain data
databasename =          # Name as used in de influxDB for weather data

[deurbel]
gpio_pin_input =        # pin on GPIO used as the input (i.e. the switch)
gpio_pin_output =       # pin on GPIO used as the output (i.e. the bell)
gong_duration_s =       # Time to ring the gong after one press (default = 1 s)