[p1meter]
serialport =            # serialport on RPi, usually something like: ttyUSB0
databasenaam =          # Name as used in de influxDB for p1meter data

[weer]
weerlive_api_key =      # API key for weerlive.nl
weerlive_locatie =      # Location for weerlive.nl
weerhuisje_locatie_1 =  # Location for weerhuisje.nl for rain data
databasenaam =          # Name as used in de influxDB for weather data

[deurbel]
gpio_pin_input =        # pin on GPIO used as the input (i.e. the switch)
gpio_pin_output =       # pin on GPIO used as the output (i.e. the bell)
gong_duration_s =       # Time to ring the gong after one press (default = 1 s)
databasenaam =          # database naam. Als deze er niet is, dan wordt er niet opgeslagen in de database.
alarmeer_groepnaam =    # Hue group naam van lichten die gealermeerd kunnen worden.

[telegram]
token =                 # Token om in te loggen bij Telegram
channel_id =            # Channel_id om naar toe te posten

[messenger]
silence_window =        # Periode waarbinnen niet (nogmaals) een bericht wordt gestuurd
text_someone_at_the_door = # Tekst te sturen als er iemand aan de deur staat

[hue]
username =              # Username zoals door de hue bridge teruggegeven na opvraag api en druk op de knop
ipadress =              # Ip adres van de HUE bridge
databasenaam =          # database naam